body {
    background-color: #3B5C88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 65px;
    margin: 0;
}

.svgContainer {
    width: 12%;
    height: 12%;
    margin-top: 40px;
}

.letterArea {
    display: flex;
    flex-direction: row;
}

.letterBox {
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding: 15px; */
    border-bottom: 5px solid white;
    margin: 0 20px 0 10px;
    /* background-color: red; */
}

/* .underlinedLetterArea {
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
} */

.pickALetter {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h2 {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 45px 0 0 0;
}

.alphabet {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 28px;
    list-style-type: none;
    display: flex;
    border: 1px solid white;
    padding: 12px 10px 12px 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.alphabetLetter {
    margin: 20px 10px 20px 10px;
}

.separationBar {
    width: 60%;
    height: 1px;
    background-color: white;
    margin-top: 100px;
}

.letterBox p {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 250;
    font-size: 50px;
    margin: 0 auto;
}

.cls-1,.cls-2,.cls-3 {
    fill: none;
    stroke: #fff;
    stroke-width: 17px;
}
.cls-1,.cls-3 {
    stroke-linecap: round;
}
.cls-1 {
    stroke-linejoin: round;
}
.cls-2,.cls-3 {
    stroke-miterlimit: 10;
}
#head {
    opacity: 0;
}
#left-arm {
    opacity: 0;
}
#right-arm {
    opacity: 0;
}
#body {
    opacity: 0;
}
#left_leg {
    opacity: 0;
}
#right_leg {
    opacity: 0;
}
.bottomScoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: -40px;
}
/* .scoreBoard {
    margin: 10px;
} */

.winLoseTotal {
    display: inline;
    font-weight: 500;
}
.losses {
    display: inline;
}
h3.scoreBoard {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 100;
    /* margin: 75px; */
    margin: 70px 30px 0 30px;
    letter-spacing: 3px;
}
/* .scoreBoard {
    margin-top: -10px;
} */

button {
    margin-top: 75px;
}

.playAgain {
    width: 170px;
    height: 50px;
    /* margin: 30px 0 40px 0; */
    color: #3B5C88;
    background-color: #B7B7B7;
    opacity: .8;
    font-size: 30px;
    font-weight: 300;
    border-radius: 20px;
    border: none;
}

