body {
    background-color: #3B5C88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* modal */

.tutorialModal {
    display: none;
    /* margin: 0 auto; */
    /* left: 20px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
}

.tutorialModalBox {
    background-color: white;
    width: 30vw;
    height: 17vw;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    /* justify-content: center; */
}

.yesButton {
    /* padding: 0; */
    margin: 0 10px 0 0;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}

.noButton {
    /* padding: 0; */
    margin: 0 0 10px 0;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}

.tutorialHeader {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color:  #3B5C88;
    font-size: 30px;
}

/* .yesNoButtonArea {
    flex-direction: row;
} */

h4 {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color: #3B5C88;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

#firstTutorial {
    /* visibility: hidden; */
    /* opacity: 1; */
    width: 300px;
    height: 300px;
    /* margin-top: 200px; */
    text-align: center;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    left: 17vw;
    top: 12vw;   
}

#firstTutorial .animated {
    opacity: 1;
}

#firstArrow {
    height: 70px;
    margin-top: 55px;
    margin-left: 10px;
}

#secondTutorial {
    /* visibility: hidden; */
    /* opacity: 1; */
    width: 300px;
    height: 300px;
    /* margin-top: 200px; */
    text-align: center;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    right: 7vw;
    top: 22vw;   
}

#secondArrow {
    height: 70px;
    margin-top: 55px;
    margin-right: 10px;
    transform: scaleX(-1);
    /* margin-left: 10px; */
}

/* body */
h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 65px;
    margin: 0;
}

#title {
    display: inline;
}
.infoButton {
    width: 20px;
    height: 20px;
    /* display: inline;  */
    margin-bottom: 30px;
}

.svgContainer {
    width: 12%;
    height: 12%;
    margin-top: 40px;
}

.letterArea {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.letterBox {
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding: 15px; */
    border-bottom: 5px solid white;
    margin: 0 20px 0 10px;
    /* padding: 0 20px 0 10px; */
    /* background-color: red; */
}

.letterBox.correctLetter {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 250;
    font-size: 50px;
    /* margin: 0 auto; */
    padding-bottom: 5px;
}

/* .underlinedLetterArea {
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
} */

.pickALetter {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h2 {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 55px 0 0 0;
    letter-spacing: 1.5px;
}

.alphabet {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 28px;
    list-style-type: none;
    display: flex;
    border: 1px solid white;
    padding: 12px 10px 12px 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

.alphabetLetter {
    margin: 5px;
}

.separationBar {
    width: 60%;
    height: 1px;
    background-color: white;
    margin-top: 100px;
}

.letterBox p {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 250;
    font-size: 50px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.cls-1,.cls-2,.cls-3 {
    fill: none;
    stroke: #fff;
    stroke-width: 17px;
}
.cls-1,.cls-3 {
    stroke-linecap: round;
}
.cls-1 {
    stroke-linejoin: round;
}
.cls-2,.cls-3 {
    stroke-miterlimit: 10;
}
#head {
    opacity: 0;
}
#left-arm {
    opacity: 0;
}
#right-arm {
    opacity: 0;
}
#body {
    opacity: 0;
}
#left_leg {
    opacity: 0;
}
#right_leg {
    opacity: 0;
}
.bottomScoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: -30px;
}
/* .scoreBoard {
    margin: 10px;
} */

.winLoseTotal {
    display: inline;
    font-weight: 500;
}
.losses {
    display: inline;
}
h3.scoreBoard {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 100;
    /* margin: 75px; */
    margin: 70px 30px 0 30px;
    letter-spacing: 3px;
}
/* .scoreBoard {
    margin-top: -10px;
} */

button {
    margin-top: 75px;
    background-color: #3B5C88;
    border: none;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 28px;
}

button:focus {
    outline: none;
}

.playAgain {
    width: 170px;
    height: 50px;
    /* margin: 30px 0 40px 0; */
    color: #3B5C88;
    background-color: white;
    opacity: .6;
    font-size: 30px;
    font-weight: 300;
    border-radius: 5px;
    border: none;
}
.gamesWon {
    display: inline;
}
.gamesLost {
    display: inline;
}

