body {
    background-color: #3B5C88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 100px;
}

.hangmanSVG {
    width: 400px;
    height: 400px;
}

.letterArea {
    display: flex;
    flex-direction: row;
}

.letterBox {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    border-bottom: 6px solid white;
    margin: 10px;
    /* background-color: red; */
}

/* .underlinedLetterArea {
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
} */

.pickALetter {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h2 {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin: 45px 0 0 0;
}

.alphabet {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 28px;
    list-style-type: none;
    display: flex;
    border: 1px solid white;
    padding: 12px 10px 12px 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.alphabetLetter {
    margin: 20px 10px 20px 10px;
}

.separationBar {
    width: 60%;
    height: 1px;
    background-color: white;
    margin-top: 100px;
}

.playAgain {
    width: 200px;
    height: 60px;
    margin: 55px 0 40px 0;
    color: #3B5C88;
    background-color: white;
    font-size: 30px;
    font-weight: 300;
    border-radius: 20px;
}

.letterBox p {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 250;
    font-size: 75px;
    margin: 0 auto;
}
